body {
	padding: 0;
	margin: 0;
	height: 4000px;
		background: #40E0D0;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
ul {
	list-style-type: none;
	padding: 0;
	margin: 50px;
}
li {
	font-size: 48px;
	font-family: sans-serif;
	padding-bottom: 10px;
}
a {
	color: white;
	transition: all 1s ease;
}
a:hover {
	color: blue;
}
.d5fixed {
	width: 100px;
	height: 100px;
	background-color: yellow;
	position: fixed;
	top: 500px;
	left: 500px;
}
.d5absolute {
	width: 500px;
	height: 500px;
	background-color: blue;
	position: absolute;
	top: 250px;
	left: 250px;
}
.d5relative {
	width: 100px;
	height: 100px;
	background-color: white;
	position: relative;
	top: 50px;
	left: 50px;
}

div {
	width: 100px;
	height: 100px;
	position: absolute;
}

.white {
	background-color: white;
}

.black {
	background-color: black;
}

.square1 {
	top: 0;
	left: 0;
}
.square2 {
	top: 0;
	left: 100px;
}
.square3 {
	top: 0;
	left: 200px;
}
.square9 {
	top: 100px;
	left: 0;
}
.square10 {
	top: 100px;
	left: 100px;
}
.square11 {
	top: 100px;
	left: 200px;
}

@media only screen and (max-width: 600px) {
	.white{background-color: yellow;}
}



















