	* {box-sizing: border-box;}
	body{ margin: 0;

	}
	div {
		float: left;
	}
	.Field { width:250px;
		height: 200px;
	 } 
	 .Top {
	 	width: 250px;
	 	height: 150px;
	 }
	 .side {
	 	width: 25px;
	 	height: 97px;
	 	background-color: red;
	 	position: absolute;
	 	border: 2px solid white;
	 }
	 .side2 {
	 	width: 25px;
	 	height: 97px;
	 	background-color: red;
	 	position: absolute;
	 	top:  0px; left: 172px;
	 	border: 2px solid white;
	 }
	 .side3 {
	 	width: 25px;
	 	height: 97px;
	 	background-color: red;
	 	position: absolute;
	 	top:  96px; left: 0px;
	 	border: 2px solid white;
	 }
	 .side4 {
	 	width: 25px;
	 	height: 97px;
	 	background-color: red;
	 	position: absolute;
	 	top: 96px; left: 172px;
	 	border: 2px solid white;
	 }
	
	 .top {
	 	width: 150px;
	 	height: 25px;
	 	background-color: red;
	 	position: absolute;
	 	top:  0px; left: 23px;
	 	border: 2px solid white;
	 }
	 .top2 {
	 	width: 150px;
	 	height: 25px;
	 	background-color: red;
	 	position: absolute;
	 	top:  168px; left: 23px;
	 	border: 2px solid white;
	 }
	 .box {
	 	width: 75px;
	 	height: 75px;
	 	background-color: red;
	 	position: absolute;
	 	top:  22px; left: 24px;
	 	border: 2px solid white;
	 }
	 .box2 {
	 	width: 75px;
	 	height: 75px;
	 	background-color: red;
	 	position: absolute;
	 	top:  22px; left: 98px; 
	 	border: 2px solid white;
	 }
	 .box3 {
	 	width: 75px;
	 	height: 75px;
	 	background-color: red;
	 	position: absolute;
	 	top:  96px; left: 23px;
	 	border: 2px solid white;
	 }
	 .box4 {
	 	width: 75px;
	 	height: 75px;
	 	background-color: red;
	 	position: absolute;
	 	top:  96px; left: 98px;
	 	border: 2px solid white;
	 }