body{
	/*background:linear-gradient(to bottom, #00ff99 0%, #ffcc99 100%);*/
	background-color: black;
	font-family: sans-serif;
	font-size: 50px;
	text-align: center;
}
div{
	height: 300px;
	width: 600px;
	background-color: white;
	margin: 150px auto;
	position:absolute;
}
p{
	text-align: center;
	color:white;
	font-family: fantasy;
	font-size: 200px;
	margin: 300px auto;
	/*top:200px;*/

	/*margin:250px auto;*/

}
.scroll{
	height:100px;
	width: 200px;
	font-size: 30px;
	margin:500px auto;
	background-color: white;
	position:fixed;
}
.one{
	top:200px;
	left:100px;
}
/*.two{
	top:200px;
	left:500px;
}*/
.dance{
	top:400px;
	left:350px;
}