body {
    padding: 0;
    background-color:slategray;
}
a {
    background-image:linear-gradient(slategray, darkslategray);
    font-size: 36px;
    font-weight: bold;
    text-transform:capitalize;
    color:antiquewhite;
    text-decoration: none;
    transition: all .6s ease;
    border-top: 6px solid antiquewhite;
    border-left: 6px solid antiquewhite;
    border-radius: 4px;
}
a:hover {
    border-color:darkblue;
    color:darkblue;
    border-left-width:18px;
}
.column {
    float: left;
    width: 50%;
}