.fixed {
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: fixed;
    /*Fixed positioning fixes an element on the page, unaffected by scrolling, top layer above other stuff on site*/
    top: 50px;
    left: 50px;
}
.relative {
    width: 100px;
    height: 100px;
    background-color: darkgreen;
    position: relative;
    /*Relative also scrolls with page, relative to parent element*/
    top: 200px;
    left: 200px;
}
.relative2 {
    width: 600px;
    height: 1000px;
    background-color: blue;
    position: relative;
    /*Relative also scrolls with page, relative to parent element in position*/
    top: 200px;
    left: 200px;
}
.absolute {
    width: 100px;
    height: 100px;
    background-color: darkblue;
    position: absolute;
    /*absolute is fixed to the page, and scrolls with it*/
    top: 300px;
    left: 300px;  
}