div {
    position:absolute;
    background-color:red;
    box-sizing:border-box;
    border: 2px solid white;
}
body {
    margin:0;
}
.topLeft {
    width:75px;
    height:300px;
}
.topTop {
    width:400px;
    height:100px;
    left:75px;
}
.topRight {
    width:75px;
    height:300px;
    left:475px;
}
.upperLeft {
    width:200px;
    height:200px;
    top:100px;
    left:75px;
}
.upperRight {
    width:200px;
    height:200px;
    top:100px;
    left:275px;
}
.botLeft {
    width:75px;
    height:300px;
    top:300px;
}
.botBot {
    width:400px;
    height:100px;
    top:500px;
    left:75px;
}
.botRight {
    width:75px;
    height:300px;
    top:300px;
    left:475px;
}
.lowerLeft {
    width:200px;
    height:200px;
    top:300px;
    left:75px;
}
.lowerRight {
    width:200px;
    height:200px;
    top:300px;
    left:275px;
}

@media only screen and (max-width:550px) {
        .topLeft {
        width:35px;
        height:150px;
    }
    .topTop {
        width:200px;
        height:50px;
        left:35px;
    }
    .topRight {
        width:35px;
        height:150px;
        left:235px;
    }
    .upperLeft {
        width:100px;
        height:100px;
        top:50px;
        left:35px;
    }
    .upperRight {
        width:100px;
        height:100px;
        top:50px;
        left:135px;
    }
    .botLeft {
        width:35px;
        height:150px;
        top:150px;
    }
    .botBot {
        width:200px;
        height:50px;
        top:250px;
        left:35px;
    }
    .botRight {
        width:35px;
        height:150px;
        top:150px;
        left:235px;
    }
    .lowerLeft {
        width:100px;
        height:100px;
        top:150px;
        left:35px;
    }
    .lowerRight {
        width:100px;
        height:100px;
        top:150px;
        left:135px;
    }
}