body{

	background-color: #FF9A00;

}
.firstLine{
	font-family: 'Ruslan Display', cursive;
	font-size: 100px;
	text-align: center;

}
.secondLine{
	font-family: 'Ruslan Display', cursive;
	font-size: 55px;
	text-align: center;
	
}
.button{
	
	background-color: white;
	width: 200px;
  	height: 100px;
  	
}
	/*float: left;*/
}
.finalLine{
	border-top: 500px;
	font-family: 'Ruslan Display', cursive;
	font-size: 55px;
	text-align: center;
}