*{
	box-sizing: border-box;
}

h1{
	margin: 50px auto;
	text-align: center;
}

.background {
	background: radial-gradient(circle, #576574, #222f3e) no-repeat center center fixed;
}

.button {
	height: 150px;
	width: 300px;
	background-color: #ee5253;
	border-radius: 25px;
	border: 3px solid #222f3e;
	margin: calc((100vh - 150px) / 2) auto;
	transition: all 0.5s ease;
	box-shadow: inset -5px -15px 10px 10px rgba(0,0,0,.1),
				inset 5px 15px 10px 10px rgba(255,255,255,.1),
				0px 0px 10px 10px rgba(0,0,0,.1);
	font-family: 'Nanum Brush Script', cursive;
	color: #222f3e;
	align-content: center;
	font-size: 20px;
}

.button:hover {
	background-color: #ff6b6b;
	transition: all 0.5s ease;
	cursor: pointer;
	color: #576574;
	border: 3px solid #576574;
}

.button:active {
	transition: all 0.2s ease;
	box-shadow: inset 5px 15px 10px 10px rgba(0,0,0,.1),
				inset -5px -15px 10px 10px rgba(255,255,255,.1),
				0px 0px 10px 10px rgba(0,0,0,.1);
	font-size: 18px;
}

a {
	color: #8b93a0;
	text-decoration: none;
	transition: all 0.5s ease;
}
a:hover {
	color: #ced3db;
	transition: all 0.5s ease;
}
.buttonInvis {
	height: 100px;
	width: 200px;
	margin: auto;
	background-color: #e8ebef;
	border-radius: 20px;
	box-shadow: 0px 0px rgba(255,0,255,0.0),
				0px 0px rgba(0,255,255,0.0),
				0px 0px rgba(255,255,0,0.0),
				0px 0px rgba(0,0,0,0.0),
				inset 5px 10px rgba(0,0,0,0.05),
				inset -5px -10px rgba(255,255,255,0.4);
	transition: all 0.5s ease;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	font-size: 10px;
	font-family: 'Alegreya Sans SC', sans-serif;
}
.buttonInvis:hover {
	background-color: white;
	height: 120px;
	width: 240px;
	box-shadow: 10px 20px rgba(255,0,255,0.15),
				-10px 20px rgba(0,255,255,0.15),
				-10px -5px rgba(255,255,0,0.15),
				10px -5px rgba(0,0,0,0.05),
				inset 0px 0px rgba(0,0,0,0.0),
				inset 0px 0px rgba(255,255,255,0.0);
	transition: all 0.5s ease;
	font-size: 12px;
	line-height: 120px;
}
.buttonSpacer{
	position: fixed;
	right: 10px;
	bottom: 10px;
	height: 150px;
	width: 250px;
	float: right;
}