body {
	background-color: black;
	padding: 0;
}
ul {
	list-style-type: none;
	padding: 0;
}
li {
	font-size: 48px;
	font-family: Times New Roman;
	padding-bottom: 10px;
}
a {
	color: white;
	transition: all 1s ease;
}
a:hover {
	color: blue;
}
h1 {
	color: red;
}
.d5fixed{
	width: 100px;
	height: 100px;
	background-color: yellow;
	position: fixed;
	top: 500px;
	left: 500px;
}
.d5absolute{
	width: 100px;
	height: 100px;
	background-color: blue;
	position: absolute;
	top: 250px;
	left: 250px;
}
.d5relative{
	width: 100px;
	height: 100px;
	background-color: red;
	position: relative;
	top: 50px;
	left: 50px;
}

.box1 {
	width: 100px;
	height: 600px;
	background-color: green;
	position: absolute;
	top: 5px;
	left: 5px;
}
.box2 {
	width: 405px;
	height: 200px;
	background-color: green;
	position: absolute;
	top: 5px;
	left: 110px;
}
.box3 {
	width: 100px;
	height: 600px;
	background-color: green;
	position: absolute;
	top: 5px;
	left: 520px;
}
.box4 {
	width: 200px;
	height: 395px;
	background-color: green;
	position: absolute;
	top: 210px;
	left: 110px;
}
.box5 {
	width: 200px;
	height: 395px;
	background-color: green;
	position: absolute;
	top: 210px;
	left: 315px;
}
.box6 {
	width: 100px;
	height: 600px;
	background-color: green;
	position: absolute;
	top: 610px;
	left: 5px;
}
.box7 {
	width: 200px;
	height: 395px;
	background-color: green;
	position: absolute;
	top: 610px;
	left: 110px;
}
.box8 {
	width: 200px;
	height: 395px;
	background-color: green;
	position: absolute;
	top: 610px;
	left: 315px;
}
.box9 {
	width: 405px;
	height: 200px;
	background-color: green;
	position: absolute;
	top: 1010px;
	left: 110px;
}
.box10 {
	width: 100px;
	height: 600px;
	background-color: green;
	position: absolute;
	top: 610px;
	left: 520px;
}