body {
	/*background-color: yellow;*/
	font-size: 24px;
}
#container {
	width: 75vw;
	margin: 0 auto;
	/*background-color: green;*/
}
.headline {
	width: 50vw;
	margin: 0 auto;
	/*background-color: white;*/
}
.body-text {
	width: 35vw;
	margin: 0 auto;
	/*background-color: white;*/
}
.large-img {
	width: 50vw;
	margin: 0 auto;
}
.large-img img  {
	min-width: 100%;
}
img {
	max-width: 100%;
}
.hero {
	min-width: 100%;
}
h1 {
	text-align: center;
	font-size: 3.5em;
	font-family: sans-serif;
}
h4 {
	font-family: sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}
p.intro {
	font-size: 1.4em;

}
p.disclaimer {
	font-style: italic;
	font-size: .8em;
}
p {
	font-size: 1em;
}

@media only screen and (max-width: 1000px) {
    body {
		font-size: 22px;
	}
	#container {
		width: 80vw;
	}
	.headline {
		width: 60vw;
	}
	.body-text {
		width: 50vw;
	}
	h1 {
		font-size: 3em;
	}
	p.intro {
		font-size: 1.8em;

	}
	p.disclaimer {
		font-size: .8em;
	}
	p {
		font-size: 1em;
	}
}

@media only screen and (max-width: 600px) {
    body {
		font-size: 20px;
	}
	#container {
		width: 90vw;
	}
	.headline {
		width: 90vw;
	}
	.body-text {
		width: 90vw;
	}
	.large-img {
		width: 90vw;
		padding-top: 50px;
	}
	h1 {
		font-size: 1.6em;
	}
	p.intro {
		font-size: 1.2em;

	}
	p.disclaimer {
		font-size: .8em;
	}
	p {
		font-size: 1em;
	}
}





