
			div {
				width: 100px;
				height: 100px;
				border: 5px solid white;
			}

			.white {
				background-color: white;
			}

			.black {
				background-color: black;
			}

			.square1 {
				top: 5px;
				left: 5px;
				position: absolute;
				height: 400px;
				background-color: red;


			}

			.square2 {
				top: 5px;
				left: 500px;
				position: absolute;
				height: 400px;
				background-color: red;
			}

			.square3 {
				top: 400px;
				left: 500px;
				position: absolute;
				height: 400px;
				background-color: red;
			}
			.square4 {
				top: 400px;
				left: 5px;
				position: absolute;
				height: 400px;
				background-color: red;
			}
			.square5 {
				top: 5px;
				left: 100px;
				position: absolute;
				height: 100px;
				width: 400px;
				background-color: red;
			}

			.square6 {
				top: 700px;
				left: 100px;
				position: absolute;
				height: 100px;
				width: 400px;
				background-color: red;
			}
			.square7 {
				top: 100px;
				left: 100px;
				position: absolute;
				height: 300px;
				width: 200px;
				background-color: red;
			}
			.square8 {
				top: 100px;
				left: 300px;
				position: absolute;
				background-color: red;
				height: 300px;
				width: 200px;
			}

			.square9 {
				top: 400px;
				left: 100px;
				position: absolute;
				background-color: red;
				height: 300px;
				width: 200px;
			}
			.square10 {
				top: 400px;
				left: 300px;
				position: absolute;
				background-color: red;
				height: 300px;
				width: 200px;

			}

