	body {background-color: #ffeaf5}	

			a {
				font-size: 50px;
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 2px;
				font-family: 'Poppins', sans-serif;
				color: #ff89b8;
				text-decoration: none;
				transition: all .5s ease;
				line-height: 10px;

			}

			a:hover {
				color: #85fcf8;
			}

			li {
				margin: 50px;
				line-height: 10px;

			}
			ul {
				list-style-type: none;
				padding: 0;
			}

			header {
				font-size: 80px;
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 2px;
				font-family: 'Poppins', sans-serif;
				color: #ff3586;
				margin: 50px;

			}









