







.d5fixed {
    width: 100px;
    height: 100px;
    background-color: white;
    position: fixed;
    top: 50px;
    left: 50px;
}
.d5absolute {
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 50px;
}
.d5relative {
    width: 100px;
    height: 100px;
    background-color: white;
    position: relative;
    top: 50px;
    left: 50px;
}

div {
    width: 100px;
    height: 100px;
    position: absolute;
}

.square1 {
    width: 75px;
    height: 400px;
    position: relative;
    border-right: white solid 50px;
}
.square2 {
    width: 200px;
    height: 20px;
    position: relative;
    border-left: white solid 50px;
}
.Field{
    width: 500px;
}
.Top{
    width: 500px;
}
.Middle{
    width: 300px;
}
.blue {
    background-color: blue;
}

.black {
    background-color: blue;
}
@media only screen and (max-width: 600px) {

}
