







.d5fixed {
    width: 100px;
    height: 100px;
    background-color: white;
    position: fixed;
    top: 50px;
    left: 50px;
}
.d5absolute {
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 50px;
}
.d5relative {
    width: 100px;
    height: 100px;
    background-color: white;
    position: relative;
    top: 50px;
    left: 50px;
}

div:hover {
    background-color: black;
    width: 100px;
    height: 100px;
    position: absolute;
}

.left1 {
    top: 0px;
    left: 0px;
    width: 100px;
    height: 300px;
    position: relative;
    border-right: white solid 50px;
}
.top {
    top: -300px;
    left: 100px;
    width: 300px;
    height: 150px;
    position: relative;
    border-left: 3px solid white;
    border-bottom: 4px solid white;
    border-right: 3px solid white;
}
.square1 {
    top: -302px;
    left: 100px;
    width: 150px;
    height: 150px;
    position: relative;
    border-left: 3px solid white;

}
.square2 {
    top: -452px;
    left: 250px;
    width: 150px;
    height: 150px;
    position: relative;
    border-left: 3px solid white;
}
.right1 {
    top: -754px;
    left: 404px;
    width: 100px;
    height: 300px;
    position: relative;
    border-left: 2px solid white;
}
.left2 {
    top: -751px;
    left: -50px;
    width: 100px;
    height: 300px;
    position: relative;
    border-left: white solid 50px;
}
.square3 {
    top: -1050px;
    left: 100px;
    width: 150px;
    height: 150px;
    position: relative;
    border-left: 3px solid white;
}
.square4 {
    top: -1200px ;
    left: 250px;
    width: 150px;
    height: 150px;
    position: relative;
    border-left: 3px solid white;
}
.bottom {
    top: -1204px;
    left: 100px;
    width: 300px;
    height: 150px;
    position: relative;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-left: 3px solid white;



}
.right2 {
    top: -1507px;
    left: 403px;
    width: 100px;
    height: 300px;
    position: relative;
    border-left: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 3px solid white;

}

.blue {
    background-color: blue;
}

.black {
    background-color: black;
}
.green {
    background-color: green;
}
@media only screen and (max-width: 600px) {

}
