body {
	background: #833471;
}

.field {
	width:800px;
	height:600px;
	background: white;
	padding: 400px, 30%;
}

.centered{
	width: 800px;
	height: 200px;
	background-color: white;
	/*first number is top and bottom second value (auto) is left and right*/
	margin: 600px, auto;
}




