.button{
	width: 450px;
	height: 150px;
	margin: calc((100vh - 150px) / 2) auto;
	background-color: whitesmoke;
	border-radius: 25px;
	text-align: center;
	transition: all 1s ease;
}
.button:hover {
	background-color: red;
}
span {
	display: block;
	padding-top: 57px;
}
a {
	font-size: 20px;
	font-family: sans-serif;
	text-transform: uppercase;
	color: black;
	font-weight: bold;
	letter-spacing: 1px;
	border-bottom: 2px solid black;
	text-decoration: none;
}