body{
	background-color:black;
}
a{
	color:white;
	/*margin:350px auto;*/
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size:20px;

}
p{
	text-align: center;
	color:white;
	font-size:40px;
	/*margin:250px auto;*/

	font-family: 'Press Start 2P', cursive;
}
li{
	text-align:center;
	top:350px;
}
img{

	display:block;
	margin-left:auto;
	margin-right:auto;

	
}
.centered{
	width:200px;
	height:200px;
	background-color:white;
	/*auto figures out left and
	/*right what it should be to stay centered*/
	/*/*only works horizontally*/
	margin:200px auto;
}