.typewriter p{
	font-family:monospace;
	overflow: hidden;
	border-right:.15em solid orange;
	white-space: nowrap;
	margin:0 auto;
	letter-spacing: .15em;
	animation:
		typing 3.5s steps(30, end);
		blinking-cursor .5s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

